# You'll need to get a token from the Discord developer site.
DISCORD_TOKEN="your private token here"

# These are the channels actually in use on Unofficial.
# Replace these when testing on another server.
# They can be found by right-clicking the channel and choosing "Copy Channel ID".
# If that option isn't available, enable Developer Mode in the Discord settings.
BEGINNER_CHANNEL_ID=579331619333079050
PICKUP_CHANNEL_ID=691780603502133289

# These are the channels to look for townsquare links in.
# These are all five game chat channels on Unofficial.
TOWNSQUARE_SPY_CHANNELS=579331619333079050,691780603502133289,834839716653432852,1134269422371078244,720456915121078314
